/* Whole app css */

.App{
  font-family: cursive;
  
}
a:link{
  color: goldenrod;
}

a:visited{
  color: goldenrod;
}

a:hover{
  color: antiquewhite;
}

a:active{
  color: crimson;
}

textarea {
  max-height: 325px;
  min-height: 20px;
  width: 98%;
  min-width: 98%;
  max-width: 98%;
  overflow: auto;
  font-family: cursive;
  font-size: large;
}

input {
  width: 98%;
  max-width: 98%;
  font-family: cursive;
}

#top-title{
  text-align: center;
}
#no-immortals{
  text-align: center;
}

button {
  background-color: darkred;
  color: goldenrod;
  padding: 5px;
  border-radius: 5px;
}

button:active{
  background-color: black;
}

h1{
  margin: 0px;
}

h3{
  margin: 8px;
}

p {
  margin: 5px;
}


/* NavBar css */
.navbar{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    background-color: #333;
}
.navbar li {
    float: left;
  }
  
  .navbar li:last-child{
      float: right;
      background-color: darkred;
  }
  .navbar li:last-child a:hover{
    float: right;
    background-color: black;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar li a:hover {
    background-color: darkred;
  }

 /* Core content css  */

.core-content{
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Immortal list */

.immortal-list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 15px; 
  max-width: 95vw;
  justify-content: space-evenly;
  align-content: space-around;
  margin: 0px
}

#list-of-immortals{
  list-style-type: none;
  background-color: rgb(175, 9, 9);
  border: black 1px solid;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  
}
  
/* immortal display cards */
.immortal-list > li{
border: solid 1px black;
text-align: center;
background-color: rgb(165, 9, 9);
border-radius: 5px;
overflow: auto;
width: 95%;
height: 95%;
padding: 5px;
box-shadow: 5px 5px 5px grey;
}

/* forms Css */

.create_form {
    border: 1px solid;
    margin: 5px;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
    max-width: 25vw;
    height: fit-content;
    max-height: 500px;
    text-align: center;
   
}

/* immortal details pages */
#immortal-details-list {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 98vw;
  grid-gap: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 95vh;
}

#immortal-details-edit-list {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4fr 1fr;
  width: 98vw;
  grid-gap: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 95vh;
}

.immortal-base-info{
  text-align: center;
  margin: 10px 0px;
  padding: 5px;
  font-weight: 700;
  font-size: larger;
  
}


.skills-list{
  grid-column: 1 ;
  height: 95%;
  overflow: auto;
  list-style-type: none;

  padding: 5px;
}

.skills-list-edit{
  grid-column: 1;
  grid-row: 1;
}
.skills-list-form{
  grid-column: 1;
  grid-row: 2;
}

.characters-list {
  grid-column: 2;
  height: 95%;
  overflow: auto;
  list-style-type: none;

  padding: 5px;
}

.characters-list-edit {
  grid-column: 2;
  grid-row: 1;
}
.characters-list-form {
  grid-column: 2;
  grid-row: 2;
}

.mark-list {
  grid-column: 3;
  height: 95%;
  overflow: auto;
  list-style-type: none;

  padding: 5px;
}

.mark-list-edit{
  grid-column: 3 ;
  grid-row: 1;
}
.mark-list-form{
  grid-column: 3 ;
  grid-row: 2;
}

.resource-list {
  grid-column: 4 ;
  height: 95%;
  overflow: auto;
  list-style-type: none;
 
  padding: 5px;
}

.resource-list-edit{
  grid-column: 4 ;
  grid-row: 1;
}
.resource-list-form{
  grid-column: 4 ;
  grid-row: 2;
}

.memories-list {
  grid-column: 1 /span 2;
  grid-row: 2 /span 2;
  height: 95%;
  overflow: auto;
  list-style-type: none;

  padding: 5px;
}

.memories-list-edit{
  grid-column: 1 /span 2;
  grid-row: 3 /span 1;
}
.memories-list-form{
  grid-column: 1 /span 2;
  grid-row: 4;
}



/*  card css */
.card{

  background-image: url(./images/clean_parchment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: burlywood;
  background-position: center;
  width: 95%;
  padding: 5px;
  margin: 2px;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  opacity: 0.8;
}
.card-bloody{

  background-image: url(./images/bloody_parchment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: burlywood;
  background-position: center;
  width: 95%;
  padding: 5px;
  margin: 2px;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  opacity: 0.8;
}
